:root{
    --color-1:#2E4D5E;
    --color-2:#548BAB;
    --color-3:#69acd3;

    --gray:rgb(197, 197, 197);
    --black:black;
    --white:#fefefe;
}
html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: var(--white);
    background-image: linear-gradient(0deg,var(--color-1) 2%,var(--color-3));
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.04);
}

header > div {
    display: inline-block;
}

header img{
    width: 70px;
    height: 60px;
    margin: .5em;
}

header button{
    height: 45px;  
    width: 40px;  
    transform: translateY(14.5%);
}

header input{
    height: 40px; 
    width: 65vw;
}

header .material-symbols-outlined{
    transform: translateY(-.3%);
}

main {
    margin-bottom: 5%;
    margin-top: 2%;
}

footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
    text-align: center;
    font-size: 1.5em;

    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer > p {
    margin:0;
}

main > section {
    margin: auto;
    margin-bottom: 0px;
    width: 95%; 
    background-color: rgba(255, 255, 255, 0.090);
    border-radius: 10px;
}

main > #divTempoAgora > div{
    display: inline-block;
    width: 49%;
    padding-bottom: 30px;
    margin-right: 2px;
    
}

#divTempoAgora{
    margin-top: 7%;
}

main > #divTempoAgora > div > div{
    display: inline-block;  
}

p{
    margin: 0;
}

.material-symbols-outlined{
    transform: translateY(+30%);
}

.inlineData > p{
    display: inline-block;
    margin-bottom: .2em;
    margin-right: 1em;
    margin-left: .2em;
}

#cardConteiner{
    padding: 2em;
    height: 150px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.card{
    border: 2px solid black;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    text-align: center;
    display: inline-block;
    margin: 2px;
    white-space: wrap;
    background-color: var(--color-3);
    color: var(--white);
    font-weight: bold;
}

.card > img{
    width: 50px;
    height: 50px;
    margin: auto 10px;
}

@-moz-document url-prefix() {
    .card > span{
        display: block;
    }
    
    .card{
        font-size: .9em;
    }
}

.none{
    display: none;
}

#imgClima{
    min-height: 100px;
    min-width: 100px;
    display: inline-block;
}

#tempsCidade{
    font-size: 2em;
    padding-left: .2em;
}

#imgClima{
    transform: translateY(-100%);
}

#wheaterIcon{
    transform: translateY(+30%);
    width: 50px;
    height: 50px;
}

#lblCidade{
    font-size: 3em;
}

#divMaisDados{
    font-size: 1.5em;
}

#searchForm{
    transform: translateY(-70%);
}

@media (max-width:760px) {
    main > section > div{
        min-width: 100%;
        
    }

    #imgClima{
        transform: translateY(-0%);
        min-width: 100%;
    }

    #lblCidade{
        font-size: 2em;
    }

    #searchForm{
        transform: translateY(-0%);
    }
}

@media (max-width:300px) {
    #lblCidade{
        font-size: 1.2em;
    }

    header input{
        width: 50vw;
    }
}